@import "../../variables.scss";

.swipe-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  padding: 20px;
  max-width: 250px;
  transition: all 0.5s ease;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);

  .card-image {
    margin-bottom: 20px;
    transition: all 0.3s ease;
    height: 290px;
  }

  .card-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    .card-title {
      font-size: 15px;
      color: $color-secondary;
    }

    .card-tag {
      font-size: 12px;
      font-weight: 500;
      color: #fff;
      background-color: #ef5da8;
      border-radius: 10px;
      display: inline-block;
      padding: 5px 12px;
    }
  }

  .card-center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-secondary;
    font-size: 12px;
    .author {
      display: flex;
      align-items: center;
      gap: 10px;

      &-image {
        width: 24px;
      }

      &-info {
        display: flex;
        flex-direction: column;

        .author-text {
          font-size: 11px;
        }

        .author-name {
          font-weight: 500;
        }
      }
    }

    .price {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      &-text {
        color: $color-secondary;
        font-size: 11px;
      }

      &-amount {
        font-weight: 500;
      }
    }
  }

  .card-bottom {
    width: 100%;
    .btn {
      width: 100%;
      justify-content: center;
    }
  }

  .card-top,
  .card-center,
  .card-bottom {
    margin-bottom: 15px;
  }

  &:hover {
    transform: translateY(-20px);

    .card-image {
      transform: scale(1.1);
    }
  }
}
