@import "../../variables.scss";

.recently-sold {
  padding: 150px 0;
  &-container {
    padding: 50px;

    .background-image {
      position: absolute;
      left: -10%;
      top: -35%;
      z-index: -1;
    }

    .swiper-container {
      background-color: $color-secondary;
      display: flex;
      flex-direction: column;
      padding: 45px;
      gap: 14px;
      border-radius: 38px;
      position: relative;

      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
          .title {
            color: #fff;
            font-size: 36px;
          }
        }

        .right {
          display: flex;
          gap: 20px;

          .slider-buttons {
            .slider-btn {
              &:hover {
                background-color: $btn-primary;
              }
            }
          }

          .btn-outline {
            border-color: #ffffff99;
            color: #fff;

            &:hover {
              border-color: $btn-primary;
              background-color: $btn-primary;
            }
          }
        }
      }


    }
  }
}
